.MainTopContainer {
    background-color: #464660;
    height: 85vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 80% 10%;
}

.TopContainer {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 60% 40%;
}

.TopLeftContent {
    display: grid;
    grid-template-rows: 90% 10%;
}

.WelcomeImg {
    width: 80%;
    margin: auto;
}

.AccessButtonContainer {
    margin: auto;
}

.AccessButton {
    width: 250px;
    height: 35px;
    border:solid 2px #F1E9E5;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
    padding: 0.46em 1.6em;
    margin: 1 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #F1E9E5      ;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    transition: all 0.15s;
}

.AccessButton:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: #368B85;
    border-color: #368B85;
}

.ImageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ImageContainerR {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.RightContentImg {
    width: 75vh;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
}

.MainCentralContainer {
    background-color: #F1E9E5;
    height: 85vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 75% 15%;
}

.CentralContainer {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 40% 60%;
}

.CenterRightContent {
    grid-column-start: 2;
    display: grid;
}

.CreateImg {
    width: 80%;
    margin: auto;
}

@media (min-width: 768px) and (max-width: 979px) {
    .MainContainer {
        background-size: 150%;
    }
    .PageContainer {
        width: 80%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .MainContainer {
        background-size: 200%;
    }
    .PageContainer {
        width: 90%;
    }
    .Image {
        height: 60%;
    } 
}

@media (max-width: 480px) {
    .MainContainer {
        background-size: 230%;
    }
    .PageContainer {
        width: 90%;
    }
    .Image {
        height: 60%;
    } 
}