.MainContainer {
    background-image: url(../../../img/LandingPage.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 75% 15% 10%;
    grid-template-rows: 5% 20% 75%;
}

/* .ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
} */


  