.MainContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 43% 57%;
    grid-template-rows: 3% 6% 85% 6%;
}

.LeftContent {
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokemonImg {
    width: 65%;
    z-index: 2;
}

.Hatching {
    position: absolute;
    width: 48%;
    z-index: 1;
}

.RightContent {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 7% 93%;
}

.DetailsContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 70% 10%;
}

.DataContainer {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3,10%) 5% 50%;
}

.TypesLabel {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #dad5d2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-bottom: solid 2px rgb(151, 148, 145);
}

.Types {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #f1e9e5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Images {
    height: 80%;
}

.HeightLabel {
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: #dad5d2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-bottom: solid 2px rgb(151, 148, 145);
}

.Height {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #f1e9e5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.WeightLabel {
    grid-column-start: 1;
    grid-row-start: 3;
    background-color: #dad5d2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-bottom: solid 2px rgb(151, 148, 145);
}

.Weight {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #f1e9e5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.Stats {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    background-color: #dad5d2ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bolder;
}

.ProgressBarContainer {
    display: flex;
    align-items: center;
}

.ProgressName {
    position: absolute;
}

.ProgressBar {
    background-color: #368b85ff;
    height: 35px;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
}

::-webkit-progress-bar {
    background-color: #353336ff;
    height: 35px;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
}

progress::-webkit-progress-value {
    background: #368b85ff;
    height: 35px;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
}

progress::-moz-progress-bar {
    background: #368b85ff;
    height: 35px;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
}