.Buttons {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid black;
    margin: 1 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: rgba(59, 4, 4, 0.678);
    text-align: center;
    transition: all 0.15s;
}

.Buttons:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: azure;
    border-color: azure;
}

.ButtonPokeball {
    width: 50%;
    margin: 5px 25%
}

.ButtonPokeball:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}