.BodyContainer {
    background-image: url('../../../assets/Home/pokedexBG.png');
    background-repeat: cover;
    background-size: 100%;   
    -moz-background-size: 100%; 
    -o-background-size: 100%;  
    -webkit-background-size: 100%; 
    -khtml-background-size: 100%; 
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 3% 6% 85% 6%;
}

.LeftContent {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 80% 20%;
}

.PokemonImg {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokemonData {
    grid-column-start: 2;
    grid-row-start: 2;
}

.RightContent {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 80%;
    height: 75vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PokemonBox {
    width: 90%;
    height: 90%;
    transform: skew(4deg, 0deg) ;
    -webkit-transform: skew(4deg, 0deg) ;
    -moz-transform: skew(4deg, 0deg) ;
    -o-transform: skew(4deg, 0deg) ;
    -ms-transform: skew(4deg, 0deg) ;
}

.PokemonCard {
    display: flex;
    flex-direction: row;
    height: 10%;
    margin-top: 8px;
}

.SpriteBox {
    width: 30%;
    display: flex;
    background-color: #dad5d2ff;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-bottomleft:24px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-bottom-left-radius:24px;
    border-top-left-radius:75px;
    border-bottom-left-radius:24px;

}

.NameBox {
    width: 60%;
    display: grid;   
    grid-template-columns: 70% 30%; 
    background-color: #353336ff;
    color: #dad5d2ff;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-right-radius:24px;
    border-bottom-right-radius:75px;
}

.NamePokemon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.ButtonContainer {
    grid-column-start: 2;
    display: flex;
    align-items: center;
}

.ButtonPokeball {
    width: 30%;
    display: flex;
    align-items: center;
}

.PaginationContainer {
    width: 50%;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.Buttons {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid black;
    margin: 1 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: rgba(59, 4, 4, 0);
    text-align: center;
    transition: all 0.15s;
}

.Buttons:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: #368b85ff;
    border-color: #368b85ff;
    font-weight: bolder;
}

.FormContainer {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 25% 40% 35%;
    grid-template-rows: 90%;
}

.Form {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.Error {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 5px;
    color: #dad5d2ff;
    font-weight: bolder;
}

.Welcome {
    grid-row-start: 2;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

.SideBarContainer {
    background-image: url('../../../assets/Home/sideBar.png');
    background-repeat: cover;
    background-size: 100%;  
    -moz-background-size: 100%; 
    -o-background-size: 100%;  
    -webkit-background-size: 100%; 
    -khtml-background-size: 100%;  
    position: absolute;
    left: 0;
    top: 0;
    width: 23vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2% 7% repeat(2, 20%) 9% 35% 7%;
}

.FiltersContainer {
    width: 18vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LabelFilter {
    color: #dad5d2ff
}

.CloseButton {
    color: #dad5d2ff;
}

.LabelTitle {
    background-color: #353336ff;
    color: #dad5d2ff;
    text-align: center;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
}

.StateContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
}

.OrderContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
}

.LabelTypes {
    grid-column-start: 1;
    grid-row-start: 5;
    background-color: #353336ff;
    color: #dad5d2ff;
    text-align: center;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:24px;
    -moz-border-radius-bottomleft:24px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:75px;
}

.TypesContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 10%);
}

