.BodyContainer {
    background-image: url('../../../assets/Home/pokedexBG.png');
    background-repeat: cover;
    background-size: 100%;   
    -moz-background-size: 100%; 
    -o-background-size: 100%;  
    -webkit-background-size: 100%; 
    -khtml-background-size: 100%; 
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 3% 6% 85% 6%;
}

.LeftContent {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 80% 20%;
}

.PokemonImg {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokemonData {
    grid-column-start: 2;
    grid-row-start: 2;
}